POSTGRES_DB=eduhub
POSTGRES_USER=eduhub
POSTGRES_PASSWORD=change-me-strong-password

DB_HOST=postgres
DB_PORT=5432
DB_NAME=eduhub
DB_USER=eduhub
DB_PASSWORD=change-me-strong-password

BACKEND_PORT=8081
SPRING_PROFILES_ACTIVE=prod
